#capaSup h2{
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
}
#capaSup #countdown     p{font-size: 10rem;
    color: white;
    max-width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;

    

   
}
#capaSup #cajas{
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    flex-direction:row;
    justify-content: space-around;
   display: flex;
   height: 52px;
  
}

#capaSup #termino{
    font-size: 6rem;    
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#capaSup #termino p{
    margin-top: 40px;
    margin-bottom: 30px  ;
}





#capaSup #btn{
    
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;
}
